@model Fil.Rouge.DataAccessLayer.Models.Quiz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rep1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rep1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rep2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rep2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rep3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rep3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rep4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rep4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validquestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validquestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentFalse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentFalse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
